<div class="container">
    <div class="card">
      <div class="card-body">
      <%= content_tag :div,
      id: "hello_react",
      data: @files.to_json do %>
          <%= javascript_pack_tag 'hello_react' %>
      <% end %>
  
      <p>
          Say <%= link_to "Hello", say_hello_path %> again.
      </p>
         <ul>
            <% @files.each do |file| %>
                <li><%= file %>
            <% end %>
         </ul>
      </div>
    </div>
</div>
